@import url('../header/__logo/header__logo.css');
@import url('../header/__lang-link/header__lang-link.css');
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-end;
    margin: 28px auto auto auto;
    border: solid red;
}

@media screen and (max-width: 320px) {
    .header{
        margin-top: 16px auto auto auto;
    }
   
   
}