.lead__caption {
    font-size: 10px;
    font-weight: normal;
    line-height: 140%;
    text-transform: uppercase;
    align-self: baseline;
    margin: 8px 0 0 0;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}
@media screen and (max-width: 1023px) {
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}
